body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
}

.error-code {
    font-size: 100px;
    font-weight: bold;
    margin: 20px 0;
}

.error-message p {
    margin: 10px 0;
    font-size: 18px;
}

.home-button a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.home-button a:hover {
    background-color: #555;
}
.kek{
    width: 112px;
    height: 112px;
}